<iframe src="http://guides.rubyonrails.org/layouts_and_rendering.html" width="100%" height="150" id="rails_iframe">iFrame</iframe>
<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><a href="/home">Home</a></li>
      <% if sign_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Sign out", signout_path %></li>
          <li><%= link_to "Linha do Tempo", timeline_index_path %></li>
          <li><%= link_to "Lista de usuários", users_path %></li>
          <li><%= link_to "Lista de posts", microposts_path %></li>
          <li><%= link_to "Lista de Bilhetes", issues_path %></li>
          <li><%= link_to "Lista de Projetos", projects_path %></li>
      <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>